.basket {
  padding: 7rem 0 0 0;

  &__heading {

  }
}

.cart {
  display: grid;
  gap: 10rem;
  grid-template:
    "products info" /
      4fr 2fr;

  @include respond(phone) {
    grid-template:
            "products"
            "info" / 100%;
    gap: 6rem;
  }

    &__products {
    grid-area: products;
  }

  &__info {
    grid-area: info;
  }

  .cart-product {
    display: grid;
    grid-template: "thumb info" / 1fr 3fr;
    gap: 4.5rem;

    @include respond(phone) {
      grid-template:
              "thumb"
              "info" / 100%;
      gap: 2.5rem;
    }


    &__thumb {
      grid-area: thumb;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__info {
      grid-area: info;
      grid-template-columns: 1fr 1fr;
      display: grid;
      justify-self: start;
      align-self: start;
      row-gap: 1.7rem;
    }

    &__heading {
      grid-column: 1 / -1;
    }

    &__delete {
      justify-self: end;

    }

    &__quantity-handler {
      display: flex;
      gap: 2.5rem;
    }

    &__price, &__quantity {
      display: flex;
      align-items: center;
      gap: 1.5rem
    }
  }
  &__btn {
    padding: 1.2rem 4rem;
  }
}