.basket {
  padding: 7rem 0 0 0;
  display: grid;
  grid-template:
    "heading ." auto
    "product info" /
      4fr 2fr;

  &__heading {
    grid-area: heading;
  }

  &__products {
    grid-area: product;
  }

  &__info {
    grid-area: info;
  }
}