.collection-detail {

  &__header {
    display: grid;
    grid-template: "text image" / 2fr 1fr;
    margin-bottom: 20rem;
    column-gap: 8rem;
  }

  &__text {
    padding-top: 4.5rem;
    grid-area: text;
    display: flex;
    flex-direction: column;
  }

  &__heading {
    font-size: 5.6rem;
    margin-bottom: 4.8rem;
  }

  &__image {
    grid-area: image;
    width: 95%;
    justify-self: end;
  }

  &__unique {
    line-height: 1.2;
    margin-top: auto;
    &--light {
      font-size: 1.7rem;
      font-weight: 400;
    }
    &--bold {
      font-variant: small-caps;
      font-size: 3rem;
      font-weight: 500;
    }
  }

}