.homepage {
 display: grid;
  grid-template:
          ". heading ." 100vh
          ". images . " 140vh
          ". collections . "
           ". own . " 90vh / 1fr 118.8rem 1fr;

  &__first {
    grid-area: images;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    &__left {
      grid-area: 1 / 1 / 3 /2;
    }

    &__right {
      grid-area: 2 / 2 / 4 / 3;
      justify-self: end;
    }
  }


  &__header {
    grid-area: heading;
    height: 100vh;
    mix-blend-mode: exclusion;
  }

  &__heading-box {
    width: min-content;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  &__heading {
    animation: fadeIn linear 1s 800ms both, moveUp linear 500ms 1.8s both;
    position: relative;
    margin-bottom: 2.7rem;
  }

  &__subtext {
    position: relative;
    text-align: center;
    color: $color-secondary;
    letter-spacing: 0.03em;

    animation: fadeInUp linear 500ms 1.8s both;
  }


  &__collections {
    display: grid;
    grid-area: collections;
    grid-gap: 17rem;

  }

  &__design-own {
    grid-area: own;
    justify-self: center;
    align-self: center;
    display: grid;
    gap: 2rem;
    align-items: center;
    justify-items: center;
  }

  .collection {
    display: grid;
    grid-gap: 10rem;
    grid-template:
            "image description" /
            1fr 2fr;
    align-items: center;
    margin-bottom: 0;
    &--swap {
      grid-template:
            "description image" /
            2fr 1fr;
    }
    &__image {
      grid-area: image;
    }

    &__description {
      grid-area: description;
    }

    &__controller {
      display: flex;
      gap: 4rem;
    }
  }
}

.home .header {
  animation: fadeIn linear 800ms 2.4s both
}
