.products-listing {
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    margin-bottom: 19rem;

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 8rem;
    }
  }

  &__heading {
    margin-left: 3rem;
    flex: 1 1 auto;

    @include respond(phone) {
      margin: 0;
    }
  }

  &__header-img {
    flex: 1 0 30%;

    @include respond(phone) {
      width: 100%;
      &:nth-child(2) {
        display: none;
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}