.home .header {
  position: sticky;
  padding: 0;
}
.header {
  top: 4.5rem;
  padding-top: 4.5rem;
  border-bottom: none;
  grid-area: header;
  mix-blend-mode: exclusion;
  color: $color-secondary !important;
  background-color: transparent;
  z-index: 100;

  @include respond(phone) {
    top: 2.5rem;
    padding-top: 2.5rem;
  }

  &__wrapper {
    display: grid;
    align-items: center;
    grid-template:
    "nav logo lang" /
    1fr 1fr 1fr;
  }

  &__nav {
    grid-area: nav;
    justify-self: start;
    display: flex;
  }

  &__logo {
    grid-area: logo;
    mix-blend-mode: exclusion;
    justify-self: center;
    img {
      width: 15rem;

      @include respond(phone) {
        width: 7.8rem;
      }
    }
  }

  &__lang {
    grid-area: lang;
    justify-self: end;
    display: flex;
    align-items: center;
    font-weight: $semibold;
    font-size: 1.8rem;
    gap: 2.5rem;
    font-variant: small-caps;
    letter-spacing: 0.07em;

    @include respond(phone) {
      gap: 0.6rem;
      font-weight: 500;
      font-size: 1.2rem;
    }

  }

  &__basket {
    mix-blend-mode: exclusion;
    line-height: normal;

    @include respond(phone) {
      width: 1.8rem;
    }
  }

  .lang-switcher {
    display: flex;

    &__lang {
      padding-left: 1rem;
    }

    &__lang:not(:last-child) {
      padding-right: 1rem;
      content: "";
      border-right: 1.5px solid $color-secondary;
    }
  }

  &--homepage {
    justify-self: center;
    align-self: center;
    width: 60rem;
    //position: fixed;
    top: 50%;
    transform: translateY(-50%);
    mix-blend-mode: exclusion;
  }

}