.header {
  padding-top: 4.5rem;
  display: grid;
  align-items: center;
  grid-area: header;
  grid-template:
    "nav logo lang" /
    1fr 1fr 1fr;

  &__nav {
    grid-area: nav;
    justify-self: start;
    display: flex;
  }

  &__logo {
    grid-area: logo;
    justify-self: center;
    img {
      width: 15rem;
    }
  }

  &__lang {
    grid-area: lang;
    justify-self: end;
    display: flex;
    align-items: flex-end;
    font-weight: $semibold;
    font-size: 1.8rem;
    gap: 3rem;
    font-variant: small-caps;
    letter-spacing: 0.07em;

  }

  &__basket {
    mix-blend-mode: exclusion;
    line-height: normal;
  }

  .lang-switcher {
    display: flex;

    &__lang {
      padding: 0 1rem;
    }

    &__lang:not(:last-child) {
      content: "";
      border-right: 1.5px solid $color-primary;
    }
  }

  &--homepage {
    justify-self: center;
    align-self: center;
    width: 60rem;
    //position: fixed;
    top: 50%;
    transform: translateY(-50%);
    mix-blend-mode: exclusion;
  }

}