.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 0 3rem;

  @include respond(phone) {
    gap: 1.6rem
  }

  &__button {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    display: flex;

    @include respond(phone) {
      width: 2.6rem;
    }
  }

  &__label {
    font-size: 1.8rem;
    font-weight: 600;
    font-variant: small-caps;
    letter-spacing: 0.07em;

    @include respond(phone) {
      font-weight: 500;
      letter-spacing: 0.03em;
      font-size: 1.2rem;
    }
  }

  &__overlay {
    background: rgba($color-primary, 0.32);
    position: fixed;
    inset: 0;
    display: none;
    z-index: 100;

    &--open {
      display: block;
    }
  }
}