.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 0 3rem;

  &__button {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
  }

  &__label {
    font-size: 1.8rem;
    font-weight: 600;
    font-variant: small-caps;
    letter-spacing: 0.07em;
  }

  &__overlay {
    background: rgba($color-primary, 0.32);
    position: fixed;
    inset: 0;
    display: none;

    &--open {
      display: block;
    }
  }
}