.product-list {
  &__category-header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 3rem;
    margin-bottom: 7rem;
  }

  &__products {
    display: flex;
    flex-direction: row;
    gap: 5rem 3rem;
    margin-bottom: 17rem;
  }

  &__carousel-controls {
    margin-left: auto;
  }

  &__category-description {
    font-size: 1.8rem;
  }
}
.products-carousel {
  position: relative;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.carousel-control {
  background-color: transparent;
  border: none;
}