.product-list {
  &:not(:last-child) {
    margin-bottom: 9rem;

    @include respond(phone) {
      margin-bottom: 6rem;
    }
  }

  &__category-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 7rem;

    @include respond(phone) {
      margin-bottom: 3rem;
    }
  }

  &__category-header-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    @include respond(phone) {
      gap: .6rem;
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__category-heading {
    font-size: 2.5rem;
    font-weight: 700;

    @include respond(phone) {
      font-weight: 600;
      font-size: 2rem;
      line-height: 1.55;
    }
  }

  &__products {
    display: flex;
    flex-direction: row;
    gap: 5rem 3rem;
  }

  &__carousel-controls {
    margin-left: auto;
    display: flex;
    height: 40px;

    @include respond(phone) {
      height: 33px;
      gap: .5rem;
      align-items: center;
    }
  }

  &__category-description {
    font-size: 1.8rem;

    @include respond(phone) {
      font-size: 1.2rem;
    }
  }
}

.products-carousel {
  position: relative;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  margin-bottom: 8rem;

  @include respond(phone) {
    margin-bottom: 4rem;
  }
}

.carousel-control {
  background-color: transparent;
  border: none;

  img {
    width: 100%;
    height: auto;
  }

  @include respond(phone) {
    width: 3rem;
    height: 3rem;
  }

  &:disabled {
    background: transparent;
    filter: invert(60%);
  }
}