.btn {
  font-family: $font-main;
  text-transform: lowercase;
  text-decoration: none;
  text-align: center;
  display: block;
  color: $color-secondary;
  font-weight: 600;
  font-size: 1.2rem;
  font-variant: small-caps;
  letter-spacing: 0.07em;
  line-height: 1.5;
  background-color: $color-primary;
  padding: .7rem 4rem;
  border: none;
  cursor: pointer;



  &--large {
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
  }

  &--medium {
    padding: .9rem 11rem;
  }

  &--transparent {
    background: transparent;
    padding: 0;
    line-height: 1;
  }

  &__dropdown {
    background: transparent;
    font-size: 1.68rem;
    text-transform: uppercase;
    color: $color-primary;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0;

    &::before {
      content: "";
      background-image: url("./public/images/icons/dropdown.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 2rem;
      height: 2rem;
    }

    &--open::before {
      rotate: 180deg;
    }

    &:hover, &:focus {
      background: transparent;
    }

    &:disabled,
    &[disabled]{
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
    }

  }
}

input[type="submit"] {
  background-color: $color-primary;
  color: $color-secondary;
}