.dropdown {
  padding-bottom: 3rem;

  @include respond(phone) {
    padding-bottom: 2rem;
  }


  &__content {
    display: none;
    padding: 1rem 0 0 4rem;

    @include respond(phone) {
      margin: 2rem 0 0 0;
      padding: 1rem 0 0 0;
    }
  }


  ul {
    list-style: none;
  }

  &__subheader {
    margin-bottom: 1rem !important;
  }

  &__list {
    list-style-type: "–" !important;
    margin-left: 1ch;

     > * {
       padding-left: .5rem;
       margin-bottom: .8rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
  }

  &__text {
    line-height: 1.5;
    font-variant: all-small-caps;
  }
}