.dropdown {

  &__content {
    display: none;
    margin: 2rem 0 0 4rem;

    @include respond(phone) {
      margin: 2rem 0 0 2rem;
    }
  }

  &__item {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;

    ul {
      list-style: none;
    }
  }

  &__text {
    line-height: 1.5;
    font-variant: all-small-caps;
  }
}