.form {
  display: flex;
  flex-direction: column;
  row-gap: 1.7rem;
  align-items: center;

  &__input {
    font-family: inherit;
    line-height: inherit;
    letter-spacing: 0.03em;
    padding: .6rem 0;
    border: none;
    border-bottom: 1.2px solid $color-primary;
    border-radius: 0;
    width: 100%;

    &::placeholder {
      color: $color-primary;
    }
    &:last-of-type {
      margin-bottom: 2rem;
    }
  }
}