.product-item {
  flex: 0 0 calc(32rem - 3rem);
  display: flex;

  @include respond(phone) {
    flex: 0 0 calc(19rem - 3rem);
  }

  &__img {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 1 / 1;
    margin-bottom: 2rem;
  }

  &__title {
    line-height: 1.1;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.07em;
    margin-bottom: 1rem;
    font-variant: all-small-caps;

    @include respond(phone) {
      letter-spacing: 0.05em;
      font-size: 1.4rem;
      line-height: 1.4;
    }

    &--number {
      font-size: 1.5rem;
      font-weight: 500;

      @include respond(phone) {
        font-size: 1rem;
      }
    }
  }

  &__price {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.07em;

    @include respond(phone) {
      font-size: 1.2rem;
      letter-spacing: 0.05em;
    }
  }

  &__sold-out {
    position: relative;
    display: block;

  }

  &__sold-out-text {
    position: absolute;
    top: 1.4rem;
    left: 1.2rem;
    background-color: $color-secondary;
    font-weight: 600;
    font-variant: small-caps;
    font-size: 1rem;
    letter-spacing: 0.07em;
    padding: .6rem 1.2rem;
  }

  &__sold-out-overlay {
    position: absolute;
    inset: 0;
    background: rgba($color-primary, 0.35);
  }
}