.product-item {
  flex: 0 0 calc(32rem - 3rem);
  display: flex;

  &__img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    margin-bottom: 1rem;
  }

  &__title {
    line-height: 1.1;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.07em;
    margin-bottom: 1rem;
    font-variant: all-small-caps;

    &--number {
      font-size: 1.5rem;
      font-weight: 500;

      @include respond(phone) {
        font-size: 1rem;
      }
    }
  }

  &__price {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.07em;
  }
}