*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #FFFFFF;
  //padding: 3rem;
}

.container {
  display: grid;
  grid-template-columns: [sidebar-start] minmax(8rem, 1fr) [sidebar-end  content-start] minmax(0, 118rem) [content-end side-start] minmax(8rem, 1fr) [full-end];
}

.main {
  grid-column: content-start / content-end;
}

.sidebar {
  &--left {
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1/1;
    position: sticky;
    height: 100vh;
    top: 0;
  }

  &--right {
    grid-column: side-start / full-end;
    grid-row: 1/1;
  }
}

.link {

}