*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #FFFFFF;
  //padding: 3rem;
}

.container {
  display: grid;
  grid-template:
   ". header ."
    ". main ."
    ". footer ." /
   minmax(8rem, 1fr) minmax(0, 118rem) minmax(8rem, 1fr)
;

  @include respond(phone) {
    grid-template:
     ". main ."
    ". footer ." /
   minmax(5rem, 1fr) minmax(0, 118rem) minmax(5rem, 1fr)

  }
}

.main {
  grid-area: main;
}