body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  //font-size: 16px;
  line-height: 2;
  color: $color-primary;
}

.heading-primary {
  margin-bottom: 3rem;
}

.heading-secondary {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.heading-tertiary {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin-bottom: 1rem;

}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  &--justify {
    text-align: justify;
  }
}

.color-white {
  color: #FFFFFF;
}