.u-center-text {
  text-align: center !important;
}

.u-right-text {
  text-align: right !important;
}

.u-left-text {
  text-align: left !important;
}

.u-justify-text {
  text-align: justify !important;
}

.u-fw-800 {
  font-weight: 800 !important;
}
.u-fw-700 {
  font-weight: 700 !important;
}

.u-fw-600 {
  font-weight: 600 !important;
}

.u-fw-500 {
  font-weight: 500 !important;
}

.u-fw-400 {
  font-weight: 400 !important;
}

.u-fw-300 {
  font-weight: 300 !important;
}

.u-fs-1 {
  font-size: $default-font-size * 4.5 !important;
}

.u-fs-2 {
  font-size: $default-font-size * 1.8 !important;
}

.u-fs-3 {
  font-size: $default-font-size * 1.5 !important;
}

.u-fs-4 {
  font-size: $default-font-size * 1.2 !important;
}

.u-fs-5 {
  font-size: $default-font-size * .85 !important;
}

.u-fs-base {
  font-size: $default-font-size !important;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-lowercase {
  text-transform: lowercase;
}

.u-small-caps {
  font-variant: small-caps;
}

.u-all-small-caps {
  font-variant: all-small-caps;
}

.u-letter-spacing-large {
  letter-spacing: 0.07em;

  @include respond(phone) {
    letter-spacing: 0.05em;
  }
}
.u-letter-spacing {
  letter-spacing: 0.03em;
}

.u-width-100 {
  width: 100% !important;
}
.u-width-80 {
  width: 80% !important;
}

.u-width-75 {
  width: 75% !important;
}

.u-width-40 {
  width: 40% !important;
}

.u-height-auto {
  height: auto !important;
}


.u-margin-bottom-big {
  margin-bottom: 6rem !important;
}

.u-margin-xmedium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 2.5rem !important;
}

.u-margin-bottom-smedium {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;

}

.u-margin-bottom-xsmall {
  margin-bottom: .5rem !important;
}
.u-margin-bottom-none {
  margin-bottom: 0 !important;
}
.u-margin-top-xbig {
  margin-top: 10rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-medium {
  margin-top: 6rem !important;
}

.u-margin-top-xmedium {
  margin-top: 4rem !important;
}

.u-margin-top-smedium {
  margin-top: 2rem;
}

.u-margin-right-medium {
  margin-right: 4rem !important;
}

.u-margin-left-small {
  margin-left: 1.5rem !important;
}

.u-margin-auto {
  margin: auto !important;
}

.u-d-block {
  display: block !important;
}

.u-d-block-phone {
  @include respond(phone) {
    display: block !important;
  }
}


.u-d-inline {
  display: inline !important;
}

.u-d-flex {
  display: flex;
}

.u-d-none {
  display: none !important;
}

.u-opacity-0-animated {
 animation: fadeOut 400ms forwards!important;
}

.u-opacity-1-animated {
  animation: fadeIn 400ms forwards!important;
}